@import './../../sass-global.scss';

.header {
  display: flex;
  align-items: center;
  padding: 0 2rem;
  width: 100vw;
  height: 8vh;
  background-color: $green;
  color: $white;
  justify-content: space-between;
  &-signUp {
    border: 1px solid $white;
    border-radius: 0.8rem;
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    cursor: pointer;
  }
}
